


<div style="display:flex; justify-content:center; align-items:center;">
    @using(Html.BeginForm("Index", "Shape",FormMethod.Post,new { id = "shapeForm" }))
            {
              
                    <button style="margin-top:20px;" type="submit">My Shapes</button>

            }

</div>